{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="home">

    <picture class="menu">
        <img src="{% static 'restaurant/Menu.gif' %}" alt="menu-image">
    </picture>

    
        <picture class="menus">
            <img src="{% static 'restaurant/menu1.png' %}" alt="menu-image">
        </picture>

        <picture class="menus">
            <img src="{% static 'restaurant/menu2.png' %}" alt="menu-image">
        </picture>

    </div>
 



</div>

{% endblock %}